p{
    color: brown;
    font-size: large;
    font-style: italic;
}
body{
    background-color:orange;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
.main_paragraph{ /* change a class called main_paragraph */
    color: green; 
    font-family: 'Fruktur', cursive;
}
#list{/* change an id called list */
    color: blue;
    font-style: bold;
    background-color: pink;
}
img{
    border-style: solid;
    border-color: purple;
    border-width: 40;
}
div#confirm{
    float: right;
    padding: 10px;
    background-color: wheat;
    width: 300px;
}